@model WeList.Models.CreateResponseViewModel
@{
    ViewBag.Title = "Create Response";
    Layout = "~/Views/Shared/_bulmatemplate.cshtml";
}



<section class="section">
    <div class="title">@ViewBag.Title</div>
    <div class="container">
        @*@if (!ViewData.ModelState.IsValid)
        {
        @Html.ValidationSummary(true, "", new { @class = "notification is-danger" })
        }*@
        <div class="field is-horizontal">
            <div class="field-label is-normal">
            </div>
            <div class="field-body">
                <div class="control is-expanded">
                @if (!ViewData.ModelState.IsValid)
                {
                  @Html.ValidationMessageFor(model => model.Body, "", new { @class = "notification is-danger" })
                }
                </div>
            </div>
        </div>

       
        @using (Html.BeginForm("PostResponse", "Posts", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(model => Model.PostId)
            @Html.HiddenFor(model => Model.From)
            @Html.HiddenFor(model => Model.To)
            @Html.HiddenFor(model=>Model.ReturnUrl)
        <div class="field is-horizontal">
            <div class="field-label is-normal">
                <label class="label">Post Title</label>
            </div>
            <div class="field-body">
                <div class="field">
                    <p class="control">
                        <input class="input is-static" type="text" name="PostTitle" value="@Model.PostTitle" readonly>
                    </p>
                </div>
            </div>
        </div>

        <div class="field is-horizontal">
            <div class="field-label is-normal">
                <label class="label">From</label>
            </div>
            <div class="field-body">
                <div class="field">
                    <p class="control">
                        <input class="input is-static" type="text" name="FromEmail" value="@Model.FromEmail" readonly>
                    </p>
                </div>
            </div>
        </div>

        <div class="field is-horizontal">
            <div class="field-label is-normal">
                <label class="label">To</label>
            </div>
            <div class="field-body">
                <div class="field">
                    <p class="control">

                        <input class="input is-static" type="text" name="ToEmail" value="@Model.ToEmail" readonly>
                    </p>
                </div>
            </div>
        </div>
          
        <div class="field is-horizontal">
            <div class="field-label is-normal">
                <label class="label">Response</label>
            </div>
            <div class="field-body">
                <div class="field">
                    <div class="control">
                        <textarea class="textarea" placeholder="at most 300 characters" name="Body" value="@Model.Body">@Model.Body</textarea>                      
                    </div>
                </div>
            </div>
        </div>

        <div class="field is-horizontal">
            <div class="field-label">
                <!-- Left empty for spacing -->
            </div>
            <div class="field-body">
                <div class="field">
                    <div class="control">
                        <input type="submit"value="Send Response" class="button is-primary"/> 
                        <a class="button" href="@Url.Action("Details","Posts",new { id =Model.PostId,returnUrl=Model.ReturnUrl})">Cancel </a>
                    </div>
                </div>
            </div>
        </div>
        }


    </div>
</section>