@model IEnumerable<WeList.Models.Post>

@{
    ViewBag.Title = "PostList";
    Layout = "~/Views/Shared/_bulmatemplate.cshtml";
}


<section class="section">
    <h2 class="title">Your Posts</h2>

    @if (TempData["Delete_Success"] != null)
    {
        <div class="notification is-success">@TempData["Delete_Success"]</div>
    }

    <div class="block">
        <nav class="level">
            <div class="level-left">
                <div class="level-item"><a href="@Url.Action("PostCreate")" class="button">Create A New Post</a></div>

            </div>
        </nav>
    </div>

    <div>
        <table class="table is-striped is-fullwidth">
            <thead>
                <tr class="is-selected">
                    <th>Post Id</th>
                    <th>Title</th>
                    <th>Last Modified</th>
                    <th>Operations</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    
                    <tr>
                        <td>@Html.DisplayFor(m => item.Id)</td>
                        <td>@Html.DisplayFor(m => item.Title)</td>
                        <td>@Html.DisplayFor(m => item.Timestamp, "ShortDateTime")</td>
                        <td>                     
                        <a href="@Url.Action("PostDetails", new { id = item.Id })" class="button">Detail</a>
                       @if (item.Expiration > DateTime.Now)
                       {
                        <a href="@Url.Action("PostDelete", new { id = item.Id })" class="button">Delete</a>
                        <a href="@Url.Action("PostEdit", new { id = item.Id })" class="button">Edit</a>
                       }
                        </td>
                    </tr>

                }
            </tbody>
        </table>
    </div>
</section>
